* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

ul {
	list-style: none;
}

.test {
	display: flex;
	justify-content: center;
	gap: 20px;

	padding: 50px;

	height: 90vh;
}

.test__block {
	width: 50%;

	border: 1px solid gray;
	background-color: #ededed;

	border-radius: 15px;
}

.test__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	align-content: flex-start;
	align-items: flex-start;

	padding: 30px;
	width: 100%;
	height: 100%;
}

.test__item {
	font-size: 25px;
	text-wrap: wrap;
	word-wrap: break-word;

	background-color: #dedede;
	padding: 20px;
	border-radius: 15px;

	cursor: pointer;
}

.test__item:hover {
	box-shadow: 0 0 5px #666;
	background-color: #cdcdcd;
}

.test__item.selected {
	opacity: 0.6;
}

.test__item.hover{
	box-shadow: 0 0 10px #666;
}