* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


body, input, button, textarea {
    font-family: arial;
}

body {
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

ul {
    list-style: none;
}

.notes {
    padding: 48px;

    display: flex;
    flex-direction: column;
    gap: 48px;

    align-items: center;
}

.notes__form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    min-width: 400px;
    max-width: 70%;

    background-color: #fff;
    padding: 12px;

    box-shadow: 0 3px 10px #666;
    border-radius: 8px;
}

.notes__field_title,
.notes__field_content {
    border: 0;
    outline: 0;
}

.notes__field_title {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.notes__field_content {
    font-size: 14px;
    line-height: 22px;
    color: #333;

    min-height: 150px;
}

.notes__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.notes__item {
    flex: 1 1;

    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    min-width: 300px;
    max-width: 33.3%;

    background-color: #f9f0d6;
}

.notes__item:hover {
    box-shadow: 0 0 5px #999;
}

.note__title {
    font-size: 16px;
    line-height: 22px;
}

.note__btns {
    margin-top: auto;
}

.note__btn_remove {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("/assets/images/ico_remove.png");
    background-repeat: no-repeat;
    background-size: 18px auto;
    background-position: center;
    border: 0;
    background-color: transparent;
    opacity: 0.5;
}

.note__btn_remove:hover {
    opacity: 1;
    cursor: pointer;
}

.note__form_edit {
    background-color: #fff;
    box-shadow: 0 0 5px #666;
    display: inline-flex;
    gap: 12px;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    border: 8px;

    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.note__form_edit input,
.note__form_edit textarea {
    width: 100%;

    outline: none;
    border: 1px solid #ccc;
    padding: 4px;
}

.note__form_edit input {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.note__form_edit textarea {
    font-size: 14px;
    line-height: 22px;
    color: #333;

    min-height: 150px;
}

.note__btn_close {
    align-self: flex-end;
    background-image: url(/assets/images/ico_close.png);
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px auto;
    background-position: center;
    border: 0;
    background-color: transparent;
    opacity: 0.8;
    cursor: pointer;
}

.note__btn_close:hover {
    opacity: 1;
}

.note__btn_save {
    align-self: center;
    background-image: url(/assets/images/ico_checked.png);
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 32px auto;
    background-position: center;
    border: 0;
    background-color: transparent;
    opacity: 0.8;
    cursor: pointer;
}

.note__btn_save:hover {
    background-image: url(/assets/images/ico_checked_hover.png);
}
