/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}

.container {
	max-width: 1280px;
	width: 90%;
	margin: 50px auto;
}

.main__title,
.promo__title {
	text-align: center;
	font-family: "Arvo", serif;
	font-size: 36px;
	line-height: 48px;
	color: #212121;
	font-weight: normal;
}

.main__title {
	margin-bottom: 15px;
}

.main__text {
	display: flex;
	justify-content: center;

	font-family: "Open Sans", serif;
	font-size: 14px;
	line-height: 26px;
	color: #9FA3A7;

	margin-bottom: 50px;

}

.promo {
	display: flex;
	justify-content: center;
}

.promo__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;

	width: 35%;
	padding: 80px 95px;
}

.promo__block:hover {
	background-color: #8F75BE;
}

.promo__block:hover .promo__title,
.promo__block:hover .promo__text,
.promo__block:hover .btn-primary {
	color: #fff;
	background-color: #8F75BE;
}

.promo__block:hover .promo__subtitle {
	color: #FFC80A;
}

.promo__subtitle {
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2.4px;
	color: #9FA3A7;
	text-transform: uppercase;
}

.promo__title {
	margin-bottom: 10px;
}

.promo__text {
	font-family: "Open Sans", serif;
	font-size: 12px;
	line-height: 22px;
	color: #9FA3A7;

	text-align: center;

	margin-bottom: 50px;
}

.btn-primary {
	border: 3px solid #FFC80A;
	border-radius: 30px;
	padding: 15px 24px;

	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2.4px;
	color: #212121;
	text-transform: uppercase;

	cursor: pointer;
} */